
# Set password only for planilog.fr
#SetEnvIf Host planilog.fr passreq

#AuthUserFile /homez.254/planilogml/.htpasswd
#AuthName "Accès Restreint"
#AuthType Basic
#require valid-user

#Order allow,deny
#Allow from all
#Deny from env=passreq
#Satisfy any


<IfModule mod_rewrite.c>
    <IfModule mod_negotiation.c>
        Options -MultiViews -Indexes
    </IfModule>

    RewriteEngine On
    # Redirections 301 répertoire documentation/planilog/PDF
    RewriteRule ^documentation/(.*)$ https://www.planilog.com/fr/support [R=301,L]
    RewriteRule ^planilog/(.*)$ https://www.planilog.com/fr [R=301,L]
    RewriteRule ^Planilog/(.*)$ https://www.planilog.com/fr [R=301,L]
    RewriteRule ^PDF/(.*)$ https://www.planilog.com/fr/support [R=301,L]

    # Redirections 301 répertoire wiki sauf :
    RewriteRule ^wiki/web-aps/piloter-votre-planification-sous-contraintes-avec-le-tableau-de-bord-planilog-web-aps-jitasap.html https://www.planilog.com/fr/module/planning-production [R=301,L]
    RewriteRule ^wiki/tag/kpi https://www.planilog.com/fr/fonctionnalite/mesurer [R=301,L]
    RewriteRule ^wiki/planification-sous-contraintes https://www.planilog.com/fr/fonctionnalite/mesurer [R=301,L]
    RewriteRule ^wiki/plan-de-charge-atelier https://www.planilog.com/fr/module/planning-production [R=301,L]
    RewriteRule ^wiki/modeles-de-planification/planification/calcul-aps.html https://www.planilog.com/fr/fonctionnalite/mesurer [R=301,L]
    RewriteRule ^wiki/logiciel-ordonnancement-asap https://www.planilog.com/fr/module/planning-production [R=301,L]
    RewriteRule ^wiki/fonctionnalites/kpi.html https://www.planilog.com/fr/fonctionnalite/mesurer [R=301,L]
    RewriteRule ^wiki/choisir-entre-asap-et-jit https://www.planilog.com/fr/module/planning-production [R=301,L]
    RewriteRule ^wiki/tag/kpi https://www.planilog.com/fr/fonctionnalite/mesurer [R=301,L]
    RewriteRule ^wiki/(.*)$ https://www.planilog.com/fr/glossaire [R=301,L]


    # Handle Authorization Header
    RewriteCond %{HTTP:Authorization} .
    RewriteRule .* - [E=HTTP_AUTHORIZATION:%{HTTP:Authorization}]

    # Redirect Trailing Slashes If Not A Folder...
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteCond %{REQUEST_URI} (.+)/$
    RewriteRule ^ %1 [L,R=301]

    # Handle Front Controller...
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteRule ^ index.php [L]
</IfModule>



# ######################################################################
# # INTERNET EXPLORER                                                  #
# ######################################################################

# ----------------------------------------------------------------------
# | Document modes                                                     |
# ----------------------------------------------------------------------

# Force Internet Explorer 8/9/10 to render pages in the highest mode
# available in the various cases when it may not.
#
# https://hsivonen.fi/doctype/#ie8
#
# (!) Starting with Internet Explorer 11, document modes are deprecated.
# If your business still relies on older web apps and services that were
# designed for older versions of Internet Explorer, you might want to
# consider enabling `Enterprise Mode` throughout your company.
#
# https://msdn.microsoft.com/en-us/library/ie/bg182625.aspx#docmode
# http://blogs.msdn.com/b/ie/archive/2014/04/02/stay-up-to-date-with-enterprise-mode-for-internet-explorer-11.aspx

<IfModule mod_headers.c>
    Header set X-UA-Compatible "IE=edge"

    # `mod_headers` cannot match based on the content-type, however,
    # the `X-UA-Compatible` response header should be send only for
    # HTML documents and not for the other resources.
    <FilesMatch "\.(appcache|atom|bbaw|bmp|crx|css|cur|eot|f4[abpv]|flv|geojson|gif|htc|ico|jpe?g|js|json(ld)?|m4[av]|manifest|map|mp4|oex|og[agv]|opus|otf|pdf|png|rdf|rss|safariextz|svgz?|swf|topojson|tt[cf]|txt|vcard|vcf|vtt|webapp|web[mp]|webmanifest|woff2?|xloc|xml|xpi)$">
        Header unset X-UA-Compatible
    </FilesMatch>
</IfModule>


# ######################################################################
# # SECURITY                                                           #
# ######################################################################

# ----------------------------------------------------------------------
# | Server-side technology information                                 |
# ----------------------------------------------------------------------

# Remove the `X-Powered-By` response header that:
#
#  * is set by some frameworks and server-side languages
#    (e.g.: ASP.NET, PHP), and its value contains information
#    about them (e.g.: their name, version number)
#
#  * doesn't provide any value as far as users are concern,
#    and in some cases, the information provided by it can
#    be used by attackers
#
# (!) If you can, you should disable the `X-Powered-By` header from the
# language / framework level (e.g.: for PHP, you can do that by setting
# `expose_php = off` in `php.ini`)
#
# https://php.net/manual/en/ini.core.php#ini.expose-php

<IfModule mod_headers.c>
    Header unset X-Powered-By
</IfModule>

# ----------------------------------------------------------------------
# | Server software information                                        |
# ----------------------------------------------------------------------

# Prevent Apache from adding a trailing footer line containing
# information about the server to the server-generated documents
# (e.g.: error messages, directory listings, etc.)
#
# https://httpd.apache.org/docs/current/mod/core.html#serversignature

ServerSignature Off

# - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -

# Prevent Apache from sending in the `Server` response header its
# exact version number, the description of the generic OS-type or
# information about its compiled-in modules.
#
# (!) The `ServerTokens` directive will only work in the main server
# configuration file, so don't try to enable it in the `.htaccess` file!
#
# https://httpd.apache.org/docs/current/mod/core.html#servertokens

#ServerTokens Prod


# ######################################################################
# # WEB PERFORMANCE                                                    #
# ######################################################################

# ----------------------------------------------------------------------
# | Expires headers                                                    |
# ----------------------------------------------------------------------

# Serve resources with far-future expires headers.
#
# (!) If you don't control versioning with filename-based
# cache busting, you should consider lowering the cache times
# to something like one week. <== done
#
# https://httpd.apache.org/docs/current/mod/mod_expires.html

<IfModule mod_expires.c>
    ExpiresActive on
    ExpiresDefault                                      "access plus 1 week"

  # CSS
    ExpiresByType text/css                              "access plus 1 week"

  # Data interchange
    ExpiresByType application/json                      "access plus 0 seconds"
    ExpiresByType application/xml                       "access plus 0 seconds"
    ExpiresByType text/xml                              "access plus 0 seconds"

  # Favicon (cannot be renamed!)
    ExpiresByType image/x-icon                          "access plus 1 week"

  # HTML components (HTCs)
    ExpiresByType text/x-component                      "access plus 1 week"

  # HTML
    ExpiresByType text/html                             "access plus 0 seconds"

  # JavaScript
    ExpiresByType application/javascript                "access plus 1 week"

  # Manifest files
    ExpiresByType application/x-web-app-manifest+json   "access plus 0 seconds"
    ExpiresByType text/cache-manifest                   "access plus 0 seconds"

  # Media
    ExpiresByType audio/ogg                             "access plus 1 week"
    ExpiresByType image/gif                             "access plus 1 week"
    ExpiresByType image/jpeg                            "access plus 1 week"
    ExpiresByType image/png                             "access plus 1 week"
    ExpiresByType video/mp4                             "access plus 1 week"
    ExpiresByType video/ogg                             "access plus 1 week"
    ExpiresByType video/webm                            "access plus 1 week"

  # Web feeds
    ExpiresByType application/atom+xml                  "access plus 1 hour"
    ExpiresByType application/rss+xml                   "access plus 1 hour"

  # Web fonts
    ExpiresByType application/font-woff                 "access plus 1 month"
    ExpiresByType application/vnd.ms-fontobject         "access plus 1 month"
    ExpiresByType application/x-font-ttf                "access plus 1 month"
    ExpiresByType font/opentype                         "access plus 1 month"
    ExpiresByType image/svg+xml                         "access plus 1 month"

</IfModule>

# ----------------------------------------------------------------------
# | ETags                                                              |
# ----------------------------------------------------------------------

# Remove `ETags` as resources are sent with far-future expires headers.
#
# https://developer.yahoo.com/performance/rules.html#etags
# https://tools.ietf.org/html/rfc7232#section-2.3

# `FileETag None` doesn't work in all cases.
<IfModule mod_headers.c>
    Header unset ETag
</IfModule>

FileETag None


# ----------------------------------------------------------------------
# | Compression                                                        |
# ----------------------------------------------------------------------

<IfModule mod_deflate.c>

    # Force compression for mangled `Accept-Encoding` request headers
    # https://developer.yahoo.com/blogs/ydn/pushing-beyond-gzipping-25601.html

    <IfModule mod_setenvif.c>
        <IfModule mod_headers.c>
            SetEnvIfNoCase ^(Accept-EncodXng|X-cept-Encoding|X{15}|~{15}|-{15})$ ^((gzip|deflate)\s*,?\s*)+|[X~-]{4,13}$ HAVE_Accept-Encoding
            RequestHeader append Accept-Encoding "gzip,deflate" env=HAVE_Accept-Encoding
        </IfModule>
    </IfModule>

    # Make sure proxies don't deliver the wrong content
    Header append Vary User-Agent env=!dont-vary

    # - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -

    # Compress all output labeled with one of the following media types.
    #
    # (!) For Apache versions below version 2.3.7 you don't need to
    # enable `mod_filter` and can remove the `<IfModule mod_filter.c>`
    # and `</IfModule>` lines as `AddOutputFilterByType` is still in
    # the core directives.
    #
    # https://httpd.apache.org/docs/current/mod/mod_filter.html#addoutputfilterbytype
    <IfModule mod_filter.c>
        AddOutputFilterByType DEFLATE "application/atom+xml" \
                                      "application/javascript" \
                                      "application/json" \
                                      "application/ld+json" \
                                      "application/manifest+json" \
                                      "application/rdf+xml" \
                                      "application/rss+xml" \
                                      "application/schema+json" \
                                      "application/vnd.geo+json" \
                                      "application/vnd.ms-fontobject" \
                                      "application/x-font-ttf" \
                                      "application/x-javascript" \
                                      "application/x-web-app-manifest+json" \
                                      "application/xhtml+xml" \
                                      "application/xml" \
                                      "font/eot" \
                                      "font/opentype" \
                                      "image/bmp" \
                                      "image/svg+xml" \
                                      "image/vnd.microsoft.icon" \
                                      "image/x-icon" \
                                      "text/cache-manifest" \
                                      "text/css" \
                                      "text/html" \
                                      "text/javascript" \
                                      "text/plain" \
                                      "text/vcard" \
                                      "text/vnd.rim.location.xloc" \
                                      "text/vtt" \
                                      "text/x-component" \
                                      "text/x-cross-domain-policy" \
                                      "text/xml"

    </IfModule>

    # - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -

    # Map the following filename extensions to the specified
    # encoding type in order to make Apache serve the file types
    # with the appropriate `Content-Encoding` response header
    # (do note that this will NOT make Apache compress them!).
    #
    # If these files types would be served without an appropriate
    # `Content-Enable` response header, client applications (e.g.:
    # browsers) wouldn't know that they first need to uncompress
    # the response, and thus, wouldn't be able to understand the
    # content.
    #
    # https://httpd.apache.org/docs/current/mod/mod_mime.html#addencoding

    <IfModule mod_mime.c>
        AddEncoding gzip              svgz
    </IfModule>

</IfModule>

RedirectPermanent /video_presentation.html https://www.planilog.com/fr/support/tutoriel-video
RedirectPermanent /quotes.php https://www.planilog.com/fr/contact
RedirectPermanent /planning.htm https://www.planilog.com/fr
RedirectPermanent /partenaires_eva.php?p_eva=world https://www.planilog.com/fr
RedirectPermanent /PDF https://www.planilog.com/fr/support
RedirectPermanent /wiki https://www.planilog.com/fr/glossaire
RedirectPermanent /documentation https://www.planilog.com/fr/support
RedirectPermanent /planilog https://www.planilog.com/fr
RedirectPermanent /Planilog https://www.planilog.com/fr
RedirectPermanent /quotes_pro.php https://www.planilog.com/fr/contact
RedirectPermanent /register_aps.html https://www.planilog.com/fr
RedirectPermanent /register_session.html https://www.planilog.com/fr
RedirectPermanent /services.htm https://www.planilog.com/fr
RedirectPermanent /site_map.htm https://www.planilog.com/fr
RedirectPermanent /slideshow.htm https://www.planilog.com/fr
RedirectPermanent /solutions_supply_chain.html https://www.planilog.com/fr
RedirectPermanent /staff.htm https://www.planilog.com/fr
RedirectPermanent /privacy_policy.htm https://www.planilog.com/fr/pages/cookies
RedirectPermanent /prices.htm https://www.planilog.com/fr/tarifs
RedirectPermanent /pme_planning.html https://www.planilog.com/fr
RedirectPermanent /PLanilog_ERP_Integration.html https://www.planilog.com/fr/fonctionnalite/planifier
RedirectPermanent /planification_production.html https://www.planilog.com/fr/module/planning-production
RedirectPermanent /planification_ordonnancement.html https://www.planilog.com/fr/fonctionnalite/ordonnancer
RedirectPermanent /planification_logiciel.html https://www.planilog.com/fr/fonctionnalite/planifier
RedirectPermanent /PDFgallery.htm https://www.planilog.com/fr
RedirectPermanent /outil_planification.html https://www.planilog.com/fr/fonctionnalite/planifier
RedirectPermanent /ordonnanceur.html https://www.planilog.com/fr/fonctionnalite/ordonnancer
RedirectPermanent /ordonnancement_production.html https://www.planilog.com/fr/fonctionnalite/ordonnancer
RedirectPermanent /news.htm https://www.planilog.com/fr/blog
RedirectPermanent /mrp_planning.html https://www.planilog.com/fr/module/planning-production
RedirectPermanent /microsoft_dynamics_register.php https://www.planilog.com/contact
RedirectPermanent /logiciel_planning.html https://www.planilog.com/fr
RedirectPermanent /logiciel_planification.html https://www.planilog.com/fr
RedirectPermanent /logiciel_ordonnancement.html https://www.planilog.com/fr/fonctionnalite/ordonnancer
RedirectPermanent /logiciel_gestion_planning.html https://www.planilog.com/fr
RedirectPermanent /index.html https://www.planilog.com/fr
RedirectPermanent /gestion_planning.html https://www.planilog.com/fr
RedirectPermanent /fonctionnalite_planilog.html https://www.planilog.com/fr
RedirectPermanent /formation.htm https://www.planilog.com/fr
RedirectPermanent /gallery1.htm https://www.planilog.com/fr
RedirectPermanent /clients.htm https://www.planilog.com/fr/business-case/cmi-services
RedirectPermanent /contact.htm https://www.planilog.com/fr/contact
RedirectPermanent /contact.php https://www.planilog.com/fr/contact
RedirectPermanent /careers.htm https://www.planilog.com/fr
RedirectPermanent /planification_entreprise.html https://www.planilog.com/fr/module/planning-production
RedirectPermanent /gantt_logiciel.html https://www.planilog.com/fr/fonctionnalite/planifier
RedirectPermanent /logiciel_planning_gratuit.html https://www.planilog.com/fr
RedirectPermanent /OFFRE_APS.html https://www.planilog.com/fr/fonctionnalite/ordonnancer
RedirectPermanent /annuaires.php https://www.planilog.com/fr
RedirectPermanent /about.htm https://www.planilog.com/fr
RedirectPermanent /Planilog_ERP_Integration.html https://www.planilog.com/fr/fonctionnalite/planifier

RedirectPermanent /fren/feature/simulate https://www.planilog.com/en/feature/simulate
RedirectPermanent /frfr/support/xxx/comment-effectuer-le-tri-des-colonnes https://www.planilog.com/fr/support/demarrage-rapide/comment-effectuer-le-tri-des-colonnes
RedirectPermanent /frfr/support/xxx/comment-ajouter-un-utilisateur- https://www.planilog.com/fr/support/comptes-et-parametres/comment-ajouter-un-utilisateur
RedirectPermanent /frfr/support/xxx/sla-et-securite2 https://www.planilog.com/fr/support/niveau-de-service-et-securite/sla-et-securite2
RedirectPermanent /fren/business-case/lisi-aerospace https://www.planilog.com/en/business-case/lisi-aerospace
RedirectPermanent /frfr/support/xxx/ordonnancement-sous-contraintes https://www.planilog.com/fr/support/tutoriel-video/ordonnancement-sous-contraintes
RedirectPermanent /fren/module/industrial-maintenance https://www.planilog.com/en/module/industrial-maintenance
RedirectPermanent /fren/blog https://www.planilog.com/en/blog
RedirectPermanent /fren/glossary https://www.planilog.com/en/glossary
RedirectPermanent /frfr/glossaire https://www.planilog.com/fr/glossaire
RedirectPermanent /frfr/support/xxx/comment-afficher-les-liens-successeurs-predecesseurs https://www.planilog.com/fr/support/configuration-de-planilog/comment-afficher-les-liens-successeurs-predecesseurs
RedirectPermanent /frfr/support/xxx/comment-creer-des-listes-et-des-dependances https://www.planilog.com/fr/support/demarrage-rapide/comment-creer-des-listes-et-des-dependances
RedirectPermanent /fren/feature/schedule https://www.planilog.com/en/feature/schedule
RedirectPermanent /frfr/tarifs https://www.planilog.com/fr/tarifs
RedirectPermanent /fren/support/xxx/links https://www.planilog.com/en/support/planilog-configuration/displaying-subsequent-preceding-task-links

RedirectPermanent /app https://app.planilog.com
