@import 'common.scss';
@import 'header.scss';

/*================================
=            PAGE BLOG           =
================================*/

#section-blog{
	padding-top: 230px;
	position: relative;
	padding-bottom: 100px;
	.shape{
		position: absolute;
		left: 0px;
		top: 0px;
		width: 70%;
		z-index: 1;
	}
	.wrapper{
		@include styleGrid1;
		position: relative;
		z-index: 1;
	}
	.container-filter{
		display: flex;
		flex-flow: row wrap;
		align-items: center;
		.filter{
			cursor: pointer;
			position: relative;
			@include styleH6;
			font-family: $font_3;
			color: $colorMain_3;
			margin-right: 70px;
			transition: all 0.25s ease;
			&:last-child{
				margin-right:0px;
			}
			&:after{
				content: '';
				position: absolute;
				left: 50%;
				top: calc(100% + 8px);
				width: 100%;
				height: 2px;
				background-color: $colorMain_2;
				transform: translateX(-50%) scaleX(0);
				opacity: 0;
				transition: all 150ms cubic-bezier(0.77, 0, 0.175, 1);
			}
			&.active{
				&:after{
					opacity:1;
					transform: translateX(-50%) scaleX(1);
				}
				color: $colorMain_2;
			}
		}
	}
	.container-el{
		margin-top: 70px;
		display: flex;
		flex-flow: row wrap;
		justify-content: space-between;
		perspective: 1000px;
		position: relative;
		.el{
			position: relative;
			opacity: 0;
			transform: translateY(10%);

			position: relative;
			height: 500px;
			margin-bottom: 60px;
			&:not(:first-child){
				width: 275px;
			}
			&:first-child{
				width: 584px;
			}
			.cover{
				cursor: pointer;
				height: 275px;
				width: 100%;
				position: relative;
				overflow: hidden;
				.background{
					position: relative;
					width: 100%;
					height: 100%;
					top: 0px;
					left: 0px;
					background-repeat: no-repeat;
					background-position: center center;
					background-size: cover;
					transition: all 0.4s ease;
					transform: scale(1.1);
					background-color: #E0E4F0;
				}
				.container-rs{
					position: absolute;
					right: 0px;
					bottom: 0px;
					padding: 8px 12px 0px 12px;
					background-color: #FFF;
					display: flex;
					flex-flow: row wrap;
					transform: translateY(100%);
					transition: all 0.25s ease;
					a{
						transform: translateY(15px);
						transition: all 0.3s ease;
						height: 16px;
						margin-right: 16px;
						img{
							height: 100%;
							transition: all 0.25s ease;
						}
						&:last-child{
							margin-right: 0px;
						}
					}
				}
				&:hover{
					.background {
						transform: scale(1);
						opacity: 0.8;
					}
					.container-rs{
						cursor: default;
						transform: translateY(0%);
						a{
							transform: translateY(0px);
							@for $i from 1 to 10 {
							    &:nth-child(#{$i}) { transition-delay: $i * 0.05s; }
							}
							&:hover{
								img{
									opacity: 0.6;
								}
							}

						}
						
						
					}
				}
			}
			.text{
				padding: 20px 12px 0px 12px;
				.category{
					font-size: 11px;
					line-height: 15px;
					color: $colorMain_2;
					font-family: $font_1;
				}
				h3{
					margin-top: 12px;
					@include styleH5;
					overflow: hidden;
					text-overflow: ellipsis;
					display: -webkit-box;
					-webkit-box-orient: vertical;
					-webkit-line-clamp: 2;
					@-moz-document url-prefix() {
					  max-height: 60px;
					}
				}
				p{
					margin-top: 12px;
					@include styleParagraphSmall;
					overflow: hidden;
					text-overflow: ellipsis;
					display: -webkit-box;
					-webkit-box-orient: vertical;
					-webkit-line-clamp: 3;
					max-height: 77px;

					@-moz-document url-prefix() {
					  max-height: 77px;
					}
				}
			}
			.foot{
				position: absolute;
				left: 12px;
				bottom: 0px;
				display: flex;
				flex-flow: row wrap;
				align-items: center;
				.author{
					font-family: $font_1;
					line-height: 15px;
					font-size: 11px;
					color: rgba(116,122,145,0.9);
				}
				.sep{
					border-radius: 3px;
					height: 3px;	
					width: 3px;	
					margin-right: 10px;
					margin-left: 10px;
					background-color: rgba(185,188,198,0.5);
				}
				.date{
					font-family: $font_1;
					line-height: 15px;
					font-size: 11px;
					color: rgba(116,122,145,0.9);
				}
			}
		}
		&.anim{
			.el{
				transition: all 500ms cubic-bezier(0.000, 1.100, 0.890, 0.950);
				@for $i from 1 to 10 {
				    &:nth-child(#{$i}) { transition-delay: $i * 0.075s; }
				}
				opacity: 1;
				transform: scale(1);
			}
		}
	}
	.container-more{
		width: 100%;
		display: flex;
		flex-flow: row wrap;
		justify-content: center;
		margin-top: 50px;
		.btn{
			@include styleButtonBig;
			.btn-arrow{
				margin-left: 10px;
				transform: rotate(90deg);
			}
			&:hover .btn-arrow{
				transform: translateY(5px) rotate(90deg);
			}
		}
	}
}

/*====================================
=            END PAGE BLOG           =
=====================================*/

@import 'footer.scss';