@import 'common.scss';
@import 'header.scss';

/*===============================
=            BUSINESS           =
================================*/

.container-cm-text{
	display: flex;
	flex-flow: row wrap;
	justify-content: space-between;
	.icn{
		position: relative;
		height: 48px;	
		width: 48px;
		border-radius: 25px;
		background-color: rgba($colorMain_6, 0.2);
		&:before{
			content:'';
			position: absolute;
			top: 50%;
			left: 50%;
			transform: translate(-50%, -50%);
			height: 10px;	
			width: 10px;
			border-radius: 5px;
			background-color: $colorMain_6;
		}
	}
	.text{
		width: calc(100% - 90px);
		padding-top: 7px;
		h3{
			@include styleH5;
		}
		p{	
			@include styleParagraphSmall;
			margin-top: 37px;
		}
	}
}

#section-1{
	position: relative;
	padding-top: 160px;
	.wrapper{
		position: relative;
		@include styleGrid1;
		.container-text{
			width: 545px;
			padding: 40px 0px 85px 0px;
			.container-pres{
				text-align: center;
				margin-bottom: 80px;
				h2{
					font-size: 13px;
					line-height: 18px;
					font-family: $font_1;
					color: #B9BCC6;
				}
				h1{
					margin-top: 12px;
					@include styleH3;
				}
				p{
					margin-top: 12px;
					@include styleParagraphMedium;
				}
				a{	
					margin-top: 25px;
					@include styleButtonBig;
				}
			}
		}
		.container-img{
			position: absolute;
			top: 0px;
			right: calc(0px - ((100vw - #{$grid_desktop_1})/2));
			height: 100%;
			width: calc((500px + ((100vw - #{$grid_desktop_1}))/2));
			background-repeat: no-repeat;
			background-position: top center;
			background-size: cover;
			background-color: rgba(0, 0, 0, 0.1);
		}
	}
}

#section-2{
	.wrapper{
		position: relative;
		@include styleGrid2;
		display: flex;
		flex-flow: row wrap;
		justify-content: flex-end;
	}
	.container-num{
		position: absolute;
		top: 0px;
		left: calc(0px - ((100vw - #{$grid_desktop_2})/2));
		width: calc((400px + ((100vw - #{$grid_desktop_2}))/2));
		background-color: #F7F9FC;
		.container-el{
			padding: 155px 0px 155px calc(((100vw - #{$grid_desktop_2}))/2);
			.el{
				margin-bottom: 120px;
				h4{
					font-size: 11px;
					line-height: 15px;
					font-family: $font_1;
					color: $colorMain_3;
				}
				.num{
					@include styleH3;
					font-family: $font_1;
					margin-top: 14px;
					position: relative;
					&:after{
						content:'';
						position: absolute;
						left: 0px;
						top: calc(100% + 10px);
						height: 2px;	
						width: 20px;
						background-color: $colorMain_2;
					}
				}
				.desc{
					@include styleParagraphSmall;
					margin-top: 34px;
				}
				&:last-child{
					margin-bottom: 0px;
				}
			}
		}
	}
	.container-text{
		width: 545px;
		padding: 93px 0px 75px 0px;
		.obj{
			display: block;
			width: 40px;
			margin: 0px auto 25px auto;
		}
	}
}

#section-3{
	margin-top: 100px;
	.wrapper{
		position: relative;
		@include styleGrid1;
		display: flex;
		flex-flow: row wrap;
		justify-content: flex-end;
		justify-content: space-between;
		padding: 90px 0px 75px 0px;
	}
	.container-text{
		width: 545px;
	}
	.container-quote{
		width: 370px;
		.obj{
			display: block;
			width: 40px;
			margin: auto;
			margin-bottom: 25px;
		}
		.quote{
			@include styleH4;
			font-family: $font_3;
		}
		.name{
			@include styleH6;
			margin-top: 40px;
			color: $colorMain_4;
		}
	}
}

@media screen and (max-width: $breakPoint_mobile){

	#section-1 {
		padding-top: 120px;
		margin-bottom: 70px;
	}
	#section-1 .wrapper .container-text {
		padding: 0 25px;
		width: 100%;
	}
	.container-cm-text {
		position: relative;
	}
	.container-cm-text .icn {
		position: absolute;
		top: 10px;
	}
	.container-cm-text .text {
		width: 100%;
	}
	#section-1 .wrapper {
		display: flex;
		flex-direction: column-reverse;
		padding: 0;
	}
	#section-1 .wrapper .container-text .container-pres {
		transform: translateY(-350px);
	}
	#section-1 .wrapper .container-img {
		position: relative;
		width: 100%;
		height: 365px;
		transform: translateY(275px);
		right: auto;
	}
	.container-cm-text .text h3 {
		width: 225px;
    	transform: translateX(70px);
	}

	#section-2 .wrapper {
		flex-direction: column;
		padding: 0;
	}
	#section-2 .container-num {
		padding: 70px 25px;
		position: relative;
	    left: 0;
	    width: 100%;
	}
	#section-2 .container-num .container-el {
		padding: 0;
	}
	#section-2 .container-text {
		padding-right: 25px;
		padding-left: 25px;
		width: 100%;
	}

	#section-3 {
		margin-top: 0;
	}
	#section-3 .wrapper {
		padding-top: 0;
	}
	#section-3 .container-quote {
		margin-top: 70px;
		width: 100%;
	}
	#section-2 .container-num .container-el .el .num {
		font-size: 38px;
	}
}
/*===================================
=            END BUSINESS           =
====================================*/

@import 'footer.scss';