@font-face {
	font-family:OpenSans-Bold;
	src:url(../../fonts/OpenSans-Bold.ttf);
}
@font-face {
	font-family:OpenSans-SemiBold;
	src:url(../../fonts/OpenSans-SemiBold.ttf);
}
@font-face {
	font-family:OpenSans-Regular;
	src:url(../../fonts/OpenSans-Regular.ttf);
}
body, html, *
{
	padding: 0px;
	margin: 0px;
}
body, html {
	width: 100%;
	height: 100%;
}
* {
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}
h1, h2, h3, h4, h5, h6, i
{
	font-weight: normal;
	font-style: normal;
}
@media only screen and (min--moz-device-pixel-ratio: 2),
only screen and (-o-min-device-pixel-ratio: 2/1),
only screen and (-webkit-min-device-pixel-ratio: 2),
only screen and (min-device-pixel-ratio: 2) {
	body, html, *
	{
		-webkit-font-smoothing: antialiased;
  		-moz-osx-font-smoothing: grayscale;
	}
}
body.block
{
	overflow:hidden;
}

/* ------------------------------------------------------------- */
/* ********************* CONTAINER GENERAL ********************* */
/* ------------------------------------------------------------- */

main
{
	position: relative;
	width: 100%;
	overflow:hidden;
}

/* ----------------------------------------------------------------- */
/* ********************* END CONTAINER GENERAL ********************* */
/* ----------------------------------------------------------------- */


/* ----------------------------------------------------- */
/* ********************* VARIABLES ********************* */
/* ----------------------------------------------------- */

/*==============================
=            COLORS            =
==============================*/

	/*----------  MAIN COLORS  ----------*/
	$colorMain_1: #38467A;
	$colorMain_2: #FB6D6D;
	$colorMain_3: #747A91;
	$colorMain_4: #00D1C1;
	$colorMain_5: #1C95FF;
	$colorMain_6: #FFB400;


/*=====  End of COLORS  ======*/


/*=============================
=            FONTS            =
=============================*/

	$font_1: OpenSans-Bold;
	$font_2: OpenSans-SemiBold;
	$font_3: OpenSans-Regular;

/*=====  End of FONTS  ======*/


/*=================================
=            TEXT SIZE            =
=================================*/

	/*----------  H1  ----------*/
		/*----------  DESKTOP  ----------*/
		$h1_textsize_desktop: 50px;
		$h1_lineheight_desktop: 68px;

		/*----------  MOBILE  ----------*/
		$h1_textsize_mobile: 33px;
		$h1_lineheight_mobile: 45px;


	/*----------  H2  ----------*/
		/*----------  DESKTOP  ----------*/
		$h2_textsize_desktop: 42px;
		$h2_lineheight_desktop: 57px;

		/*----------  MOBILE  ----------*/
		$h2_textsize_mobile: 30px;
		$h2_lineheight_mobile: 41px;


	/*----------  H3  ----------*/
		/*----------  DESKTOP  ----------*/
		$h3_textsize_desktop: 36px;
		$h3_lineheight_desktop: 49px;

		/*----------  MOBILE  ----------*/
		$h3_textsize_mobile: 27px;
		$h3_lineheight_mobile: 37px;


	/*----------  H4  ----------*/
		/*----------  DESKTOP  ----------*/
		$h4_textsize_desktop: 28px;
		$h4_lineheight_desktop: 38px;

		/*----------  MOBILE  ----------*/
		$h4_textsize_mobile: 22px;
		$h4_lineheight_mobile: 30px;


	/*----------  H5  ----------*/
		/*----------  DESKTOP  ----------*/
		$h5_textsize_desktop: 22px;
		$h5_lineheight_desktop: 30px;

		/*----------  MOBILE  ----------*/
		$h5_textsize_mobile: 20px;
		$h5_lineheight_mobile: 27px;


	/*----------  H6  ----------*/
		/*----------  DESKTOP  ----------*/
		$h6_textsize_desktop: 18px;
		$h6_lineheight_desktop: 19px;


	/*----------  PARAGRAPH BIG  ----------*/
		/*----------  DESKTOP  ----------*/
		$paragraphBig_textsize_desktop: 20px;
		$paragraphBig_lineheight_desktop: 30px;

		/*----------  MOBILE  ----------*/
		$paragraphBig_textsize_mobile: 18px;
		$paragraphBig_lineheight_mobile: 30px;


	/*----------  PARAGRAPH MEDIUM  ----------*/
		/*----------  DESKTOP  ----------*/
		$paragraphMedium_textsize_desktop: 18px;
		$paragraphMedium_lineheight_desktop: 28px;

		/*----------  MOBILE  ----------*/
		$paragraphMedium_textsize_mobile: 16px;
		$paragraphMedium_lineheight_mobile: 27px;


	/*----------  PARAGRAPH SMALL  ----------*/
		/*----------  DESKTOP  ----------*/
		$paragraphSmall_textsize_desktop: 16px;
		$paragraphSmall_lineheight_desktop: 24px;

		/*----------  MOBILE  ----------*/
		$paragraphSmall_textsize_mobile: 14px;
		$paragraphSmall_lineheight_mobile: 21px;


	/*----------  PARAGRAPH TINY  ----------*/
		/*----------  DESKTOP  ----------*/
		$paragraphTiny_textsize_desktop: 14px;
		$paragraphTiny_lineheight_desktop: 20px;

		/*----------  MOBILE  ----------*/
		$paragraphTiny_textsize_mobile: 12px;
		$paragraphTiny_lineheight_mobile: 18px;


/*=====  End of TEXT SIZE  ======*/


/*============================
=            GRID            =
============================*/

	$grid_desktop_1: 1200px;
	$grid_desktop_2: 1100px;
	$grid_desktop_3: 1000px;
	$grid_desktop_4: 900px;

	$grid_tablet: 100%;
	$grid_mobile: 100%;

/*=====  End of GRID  ======*/


/*===================================
=            BREAK POINT            =
===================================*/

	$breakPoint_tablet: 1250px;
	$breakPoint_mobile: 700px;


/*=====  End of BREAK POINT  ======*/

/* --------------------------------------------------------- */
/* ********************* END VARIABLES ********************* */
/* --------------------------------------------------------- */

/* ------------------------------------------------- */
/* ********************* MIXIN ********************* */
/* ------------------------------------------------- */

	/*----------  FUNCTION  ----------*/
	/*
	@mixin rgba-background($hexcolor, $opacity) {
	  background-color: rgba($hexcolor, $opacity); 
	}*/

	/*----------  HEADING  ----------*/

		/*----------  H1  ----------*/
		@mixin styleH1{
			font-family: $font_1;
		  	color: $colorMain_1;

			@media screen and (min-width: $breakPoint_mobile){
				font-size: $h1_textsize_desktop;
				line-height: $h1_lineheight_desktop;
			}
			@media screen and (max-width: $breakPoint_mobile){
				font-size: $h1_textsize_mobile;
				line-height: $h1_lineheight_mobile;
			}	
		}

		/*----------  H2  ----------*/
		@mixin styleH2{
			font-family: $font_1;
		  	color: $colorMain_1;
			@media screen and (min-width: $breakPoint_mobile){
				font-size: $h2_textsize_desktop;
				line-height: $h2_lineheight_desktop;
			}
			@media screen and (max-width: $breakPoint_mobile){
				font-size: $h2_textsize_mobile;
				line-height: $h2_lineheight_mobile;
			}
		}

		/*----------  H3  ----------*/
		@mixin styleH3{
			font-family: $font_2;
		  	color: $colorMain_1;
			@media screen and (min-width: $breakPoint_mobile){
				font-size: $h3_textsize_desktop;
				line-height: $h3_lineheight_desktop;
			}
			@media screen and (max-width: $breakPoint_mobile){
				font-size: $h3_textsize_mobile;
				line-height: $h3_lineheight_mobile;
			}
		}

		/*----------  H4  ----------*/
		@mixin styleH4{
			font-family: $font_2;
		  	color: $colorMain_1;
			@media screen and (min-width: $breakPoint_mobile){
				font-size: $h4_textsize_desktop;
				line-height: $h4_lineheight_desktop;
			}
			@media screen and (max-width: $breakPoint_mobile){
				font-size: $h4_textsize_mobile;
				line-height: $h4_lineheight_mobile;
			}
		}

		/*----------  H5  ----------*/
		@mixin styleH5{
			font-family: $font_2;
		  	color: $colorMain_1;
			@media screen and (min-width: $breakPoint_mobile){
				font-size: $h5_textsize_desktop;
				line-height: $h5_lineheight_desktop;
			}
			@media screen and (max-width: $breakPoint_mobile){
				font-size: $h5_textsize_mobile;
				line-height: $h5_lineheight_mobile;
			}
		}

		/*----------  H6  ----------*/
		@mixin styleH6{
			font-family: $font_2;
		  	color: $colorMain_1;
			font-size: $h6_textsize_desktop;
			line-height: $h6_lineheight_desktop;
		}


		/*----------  PARAGRAPH BIG  ----------*/
		@mixin styleParagraphBig{
			font-family: $font_3;
		  	color: $colorMain_3; 
			font-size: $paragraphBig_textsize_desktop;
			line-height: $paragraphBig_lineheight_desktop;
		}

		/*----------  PARAGRAPH MEDIUM  ----------*/
		@mixin styleParagraphMedium{
			font-family: $font_3;
		  	color: $colorMain_3; 
			font-size: $paragraphMedium_textsize_desktop;
			line-height: $paragraphMedium_lineheight_desktop;
		}

		/*----------  PARAGRAPH SMALL  ----------*/
		@mixin styleParagraphSmall{
			font-family: $font_3;
		  	color: $colorMain_3; 
			font-size: $paragraphSmall_textsize_desktop;
			line-height: $paragraphSmall_lineheight_desktop;
		}

		/*----------  PARAGRAPH TINY  ----------*/
		@mixin styleParagraphTiny{
			font-family: $font_3;
		  	color: $colorMain_3; 
			font-size: $paragraphTiny_textsize_desktop;
			line-height: $paragraphTiny_lineheight_desktop;
		}


		/*----------  BUTTON  ----------*/

			/*----------  COMMON STYLE  ----------*/
			@mixin styleButton{
				border: none;
				cursor: pointer;
			  	padding: 18px 30px 18px 30px;
			  	border-radius: 4px;
			  	background-color: $colorMain_2;
			  	box-shadow: 0 8px 15px 0 rgba(56,70,122,0.30);
			  	display: inline-flex;
			  	flex-flow: row wrap;
			  	align-items: center;
			  	justify-content: space-between;
			  	text-decoration: none;
			  	transition: all 0.25s ease;
				.btn-text{
					font-family: $font_1;
					font-size: 13px;
					line-height: 25px;	
					color: #FFF;
					position: relative;
					z-index: 1;
				}
				.btn-arrow{
					width: 10px;
					transition: all 500ms cubic-bezier(0.020, 1.000, 0.825, 0.965);
					position: relative;
					z-index: 1;
				}
				&:hover{
					background-color: #EB6767;
					.btn-arrow{
						transform: translateX(5px) scaleX(1.2);
					}
				}
			}

			/*----------  BUTTON BIG  ----------*/
			@mixin styleButtonBig{
				@include styleButton;
			  	padding: 18px 30px 18px 30px;
				.btn-text{
					font-size: 13px;
				}
				.btn-arrow{
					margin-left: 22px;
				}
			}

			/*----------  BUTTON SMALL  ----------*/
			@mixin styleButtonSmall{
				@include styleButton;
			  	padding: 7px 15px 7px 15px;
				.btn-text{
					font-size: 11px;
				}
				.btn-arrow{
					margin-left: 15px;
				}
			}

			/*----------  BUTTON TINY  ----------*/
			@mixin styleButtonTiny{
				@include styleButtonBig;
				padding: 17px 15px 17px 15px;
				.btn-arrow{
					margin-left: 0px;
				}
			}

			@mixin styleButtonTinyOpen{
				@include styleButtonSmall;
				position: relative;
				
				z-index: 1;
				border-radius: 4px;
				overflow: hidden;
			  	transition: transform 0.25s ease 0s, box-shadow 0s ease 0s;
				
				.btn-arrow{
					margin-left: 15px;
				}
				
				@media screen and (min-width: $breakPoint_tablet){
					background-color: transparent;
					box-shadow: none;
					.btn-text{
						opacity: 0;
					}
					&:before{
						content: '';
						position: absolute;
						left: 0px;
						top: 0px;
						width: 100%;
						height: 100%;
						background-color: $colorMain_2;
						border-radius: 4px;
						transform: translateX(calc(100% - 40px));
						transition: all 0.25s ease;
					}
					&:hover{
						background-color: transparent;
						transition: transform 0.25s ease 0s, box-shadow 0.25s ease 0.1s;
						transform: translate(0px) !important;
						box-shadow: 0 8px 15px 0 rgba(56,70,122,0.30);
						&:before{
							background-color: #EB6767;
							transform: translateX(0px);
						}
						.btn-text{
							opacity: 1;
						}
					}
				}
			}


			/*----------  WYSIWYG  ----------*/
			@mixin styleWysiwyg{
				position: relative;
				> p{
					text-align: left;
					@include styleParagraphMedium;
					color: $colorMain_1;
					
					&:first-child:first-letter{
						float: left;
						font-size: 60px;
						line-height: 50px;
						color: $colorMain_1;
						margin-right: 15px;
		    			margin-bottom: 0px;
		    			font-family: $font_2;
					}
					strong{
						font-weight: normal;
						font-family: $font_1;
					}
					> img{
						width: 100%;
						margin: 40px 0px 70px 0px;
					}
					a{
						text-decoration: none;
						color: $colorMain_1;
						font-family: $font_1;
					}
				}
				> h2{
					@include styleH4;
					color: $colorMain_2;
					text-align: left;
					margin-bottom: 25px;
				}
				> h3{
					@include styleH5;
					text-align: left;
					margin: 50px 0px 25px 0px;
				}
				> ul{
					text-align: left;
					list-style: none;
					margin: 25px 0px 50px 0px;
					li{
						padding-left: 40px;
						position: relative;
						@include styleH6;
						font-family: $font_3;
						margin-bottom:15px;
						&:last-child{
							margin-bottom:0px;
						}
						&:before{
							content:'';
							height: 5px;	
							width: 5px;
							border-radius: 3px;
							background-color: $colorMain_1;
							position: absolute;
							left: 10px;
							top: 7px;
						}
					}
				}
				> img{
					width: 100%;
					margin: 40px 0px 70px 0px;
				}
				iframe{
					width: 100%;
					height: 380px;
					margin-top: 50px;
				}
				button{
					margin-top:20px;
					border:none;
					@include styleButtonSmall;
					a{
						text-decoration: none;
					}
				}
				.container-quote{
					max-width: 545px; 
					margin: 70px auto 70px auto;
					text-align: left;
					.obj{
						display: block;
						width: 40px;
						margin:auto;
					}
					p{
						@include styleH4;
						margin-top:25px;
						font-family: $font_3;
					}
					.name{
						@include styleH6;
						color: $colorMain_2;
						margin-top:40px;
					}
				}
				.notif{
					margin-top: 20px;
					margin-bottom: 20px;
					display: flex;
					flex-flow: row wrap;
					align-items: center;
					.icn{
						width: 20px;
						display: block;
						margin-right: 20px;
					}
					p{
						width: calc(100% - 40px);
						@include styleParagraphTiny;
						color: $colorMain_1;
					}
					&.warning{
						p{
							color: $colorMain_2;
						}
					}
				}
			}

		/*----------  GRID  ----------*/

			/*----------  SIZE 1  ----------*/
			@mixin styleGrid1{
				margin-right: auto;
				margin-left: auto;
				@media screen and (min-width: $breakPoint_tablet){
					width: $grid_desktop_1;
				}
				@media screen and (min-width: $breakPoint_mobile) and (max-width: $breakPoint_tablet){
					width: $grid_tablet;
					padding-right: 50px;
					padding-left: 50px;
				}
				@media screen and (max-width: $breakPoint_mobile){
					width: $grid_mobile;
					padding-right: 25px;
					padding-left: 25px;
				}
			}

			/*----------  SIZE 2  ----------*/
			@mixin styleGrid2{
				margin-right: auto;
				margin-left: auto;
				@media screen and (min-width: $breakPoint_tablet){
					width: $grid_desktop_2;
				}
				@media screen and (min-width: $breakPoint_mobile) and (max-width: $breakPoint_tablet){
					width: $grid_tablet;
					padding-right: 50px;
					padding-left: 50px;
				}
				@media screen and (max-width: $breakPoint_mobile){
					width: $grid_mobile;
					padding-right: 25px;
					padding-left: 25px;
				}
			}

			/*----------  SIZE 3  ----------*/
			@mixin styleGrid3{
				margin-right: auto;
				margin-left: auto;
				@media screen and (min-width: $breakPoint_tablet){
					width: $grid_desktop_3;
				}
				@media screen and (min-width: $breakPoint_mobile) and (max-width: $breakPoint_tablet){
					width: $grid_tablet;
					padding-right: 50px;
					padding-left: 50px;
				}
				@media screen and (max-width: $breakPoint_mobile){
					width: $grid_mobile;
					padding-right: 25px;
					padding-left: 25px;
				}
			}

			/*----------  SIZE 4  ----------*/
			@mixin styleGrid4{
				margin-right: auto;
				margin-left: auto;
				@media screen and (min-width: $breakPoint_tablet){
					width: $grid_desktop_4;
				}
				@media screen and (min-width: $breakPoint_mobile) and (max-width: $breakPoint_tablet){
					width: $grid_tablet;
					padding-right: 50px;
					padding-left: 50px;
				}
				@media screen and (max-width: $breakPoint_mobile){
					width: $grid_mobile;
					padding-right: 25px;
					padding-left: 25px;
				}
			}

/* ----------------------------------------------------- */
/* ********************* END MIXIN ********************* */
/* ----------------------------------------------------- */

/*====================================
=            SECTION START           =
=====================================*/

#section-start{
	position: relative;
	padding: 135px 0px 135px 0px;
	background: linear-gradient(90deg, #FFFFFF 0%, #E7E8EC 100%);
	&:before{
		content:'';
		position: absolute;
		z-index: -1;
		left: 0px;
		bottom: 100%;
		width: 100%;
		height: 100%;
		background: linear-gradient(90deg, #FFFFFF 0%, #E7E8EC 100%);
	}
	.wrapper{
		text-align: center;
		h2{
			@include styleH3;
			margin-bottom: 14px;
		}
		p{
			@include styleParagraphBig;
			margin-bottom: 50px;
		}
		.btn{
			@include styleButtonBig;
			margin-bottom: 24px;
		}
		.text{
			@include styleParagraphSmall;
			color: $colorMain_1;
			a{
				color: $colorMain_1;
			}
		}
	}
	.laptop{
		position: absolute;
		right: -300px;
		top: 0%;
		height: 600px;
		mix-blend-mode: multiply;
	}
}

@media screen and (max-width: $breakPoint_mobile){
	#section-start{
		padding: 75px 0px 75px 0px;
	}
	#section-start .laptop{
		display: none;
	}
	#section-start .wrapper{
		@include styleGrid1;
	}
}

/*========================================
=            END SECTION START           =
========================================*/


/*=====================================
=            SECTION BANNER           =
=====================================*/
#section-banner{
	position: relative;
	padding: 60px 0px 60px 0px;
	background-color: $colorMain_1;
	.wrapper{
		@include styleGrid2;
		position: relative;
		display: flex;
		flex-flow: row wrap;
		justify-content: space-between;
		align-items: center;
	}
	h2{
		@include styleH5;
		color: #fff;
	}
	.btn{
		@include styleButtonBig;
	}
}
@media screen and (max-width: 700px) {
    #section-banner .wrapper {
        justify-content: center;
    }
    #section-banner h2 {
        margin-bottom: 35px;
        text-align: center;
    }
}
/*=========================================
=            END SECTION BANNER           =
========================================*/