@import 'common.scss';
@import 'header.scss';

/*==============================================
=            PAGE CONTACT COMMERCIAL           =
===============================================*/

#section-contact{
	position: relative;
	padding: 200px 0px 90px 0px;
	background: linear-gradient(180deg, #EEEFF3 0%, #FFFFFF 10.77%, #FFFFFF 22.15%, #FAFBFE 38.03%, #F6F7FA 53.38%, #F2F3F7 60%, #EEEFF3 67.71%, #E7E8ED 81.97%, #E3E4EA 92.54%, #DEDFE5 100%);
	.shape{
		position: absolute;
		left: 0px;
		top: 0px;
		width: 70%;
	}
	.wrapper{
		@include styleGrid2;
		position: relative;
	}
	.container-text{
		position: relative;
		text-align: center;
		h1{
			@include styleH3;
			margin-bottom: 16px;
			font-family: $font_1;
		}
		.paragraph{
			@include styleParagraphBig;
		}
		.btn{
			margin-top: 50px;
			@include styleButtonBig;
			img{
				width: 20px;
				margin-right:10px;
			}
		}
		.hr{
			margin-top: 25px;
			@include styleParagraphTiny;
		}
		.link{
			margin-top: 32px;
			@include styleParagraphSmall;
			color: $colorMain_1;
			a{
				text-decoration: underline;
				color: $colorMain_1;
			}
		}
	}
	form{
		position: relative;
		margin-top: 110px;
		width: 100%;
		.container-input{
			display: flex;
			flex-flow: row wrap;
			align-items: flex-start;
			justify-content: space-between;
			.input,
			.textarea{
				position: relative;
				.title{
					font-size: 11px;
					line-height: 15px;
					font-family: $font_1;
					color: $colorMain_3;
				}
				input,
				textarea{
					margin-top: 8px;
					width: 100%;
					border-radius: 4px;
					border: 1px solid rgba(185,188,198,0.37);
					background-color: #FFF;
					transition: all 0.25s ease;
					outline: none;
					padding-left:20px;
					@include styleParagraphBig;
					color: $colorMain_1;
					&:focus{
						border-color:$colorMain_2;
					}
				}
			}
			.input{
				width: 30%;
				input{
					height: 48px;
				}
			}
			.textarea{
				margin-top: 40px;
				width: 100%;
				textarea{
					resize: none;
					height: 110px;
					padding:20px;
				}
			}
		}
		.container-rcl{
			position: relative;
			margin-top: 40px;
			display: flex;
			flex-flow: row wrap;
			align-items: flex-start;
			.title{
				@include styleParagraphSmall;
			}
			.container-radio{
				display: flex;
				flex-flow: row wrap;
				align-items: flex-start;
				.radio{
					margin-left: 40px;
					position: relative;
					.content{
						display: flex;
						flex-flow: row wrap;
						align-items: center;
					}
					.btn-radio{
						position: relative;
						cursor: pointer;
						height: 19px;	
						width: 19px;
						border-radius: 20px;
						border: 0.5px solid $colorMain_2;
						margin-right: 15px;
						background: #FFF;
						.rd{
							height: 7px;	
							width: 7px;
							border-radius: 4px;
							position: absolute;
							top: 50%;
							left: 50%;
							transform: translate(-50%, -50%);
							background-color: $colorMain_2;
							opacity: 0;
							transition: all 0.25s ease;
						}
					}
					.text{
						@include styleParagraphSmall;
					}
					.container-checkbox{
						display: block;
						margin-top: 26px;
						.checkbox{
							cursor: pointer;
							display: flex;
							flex-flow: row wrap;
							align-items: center;
							margin-bottom:18px;
							.checkbox-btn{
								position: relative;
								height: 19px;	
								width: 19px;
								border: 0.5px solid #B9BCC6;
								border-radius: 2px;
								margin-right: 15px;
								transition: all 0.25s ease;
								img{
									width: 10px;
									position: absolute;
									top: 50%;
									left: 50%;
									transform: translate(-50%, -50%) scale(0);
									opacity: 0;
									transition: all 0.25s ease;
								}
							}
							.text{
								@include styleParagraphTiny;
								color: #B9BCC6;
							}
							&.active {
								.checkbox-btn{
									background-color: $colorMain_2;
									border-color: $colorMain_2;
								}
								img{
									transform: translate(-50%, -50%) scale(1);
									opacity: 1;
								}
							}
						}
						
					}

					&.active .rd{
						opacity: 1;
					}
				}
			}
			button{
				position: absolute;
				right: 0px;
				top: 0px;
				border:none;
				@include styleButtonBig;
				.btn-check{
					position: absolute;
					top: 50%;
					left: 50%;
					width: 10px;
					transform: translate(-50%, 150%);
					transition: all 0.25s ease;
					opacity: 0;
				}
				&.active{
					.btn-text{
						opacity: 0;
					}
					.btn-check{
						transform: translate(-50%, -50%);
						opacity: 1;
					}
				}
			}
		}
	}
}

@media screen and (max-width: $breakPoint_mobile) {

	#section-contact {
		padding-top: 120px;
	}
	#section-contact form {
		margin-top: 75px;
	}
	#section-contact form .container-input {
		flex-direction: column;
	}
	#section-contact form .container-input .input {
		width: 100%;
		margin-bottom: 35px;
	}
	#section-contact form .container-input .textarea {
		margin-top: 0;
	}
	#section-contact form .container-rcl {
		margin-top: 35px;
	}
	#section-contact form .container-rcl .title {
		margin-bottom: 30px;
	}
	#section-contact form .container-rcl button {
		position: relative;
	    margin: auto;
	    margin-top: 35px;
	}
}

/*==================================================
=            END PAGE CONTACT COMMERCIAL           =
==================================================*/

@import 'footer.scss';