@import 'common.scss';
@import 'header.scss';


/*===================================
=            PAGE COOKIES           =
====================================*/
#section-cookies{
	padding: 300px 0px 300px 0px;
	.wrapper{
		@include styleGrid4;

		@include styleWysiwyg;

		> p{
			text-align: left;
			@include styleParagraphMedium;
			color: $colorMain_1;
			
			&:first-child:first-letter{
				float: left;
				font-size: 60px;
				line-height: 50px;
				color: $colorMain_1;
				margin-right: 15px;
    			margin-bottom: 0px;
    			font-family: $font_2;
			}
			strong{
				font-weight: normal;
				font-family: $font_1;
			}
			a{
				text-decoration: none;
				color: $colorMain_1;
				font-family: $font_1;
			}
		}
		> ul{
			li{
				font-size: 18px;
				line-height: 32px;
				font-family: $font_3;
			}
		}

		> ol{
			li{
				font-size: 18px;
				line-height: 32px;
				font-family: $font_3;
			}
		}
		> h2{
			@include styleH4;
			text-align: left;
			margin-bottom: 25px;
		}
		.btn{
			margin-top: 40px;
			@include styleButtonBig;
		}
	}
}

@media screen and (max-width: $breakPoint_mobile) {

	#section-cookies {
		padding: 120px 0;
	}

}

/*=======================================
=            END PAGE COOKIES           =
========================================*/


@import 'footer.scss';