@import 'common.scss';
@import 'header.scss';

/*====================================
=            PAGE FEATURES           =
====================================*/

#section-cover{
	padding: 195px 0px 120px 0px;
	background: linear-gradient(180deg, #EEEFF3 0%, #FFFFFF 10.77%, #FFFFFF 22.15%, #FAFBFE 38.03%, #F6F7FA 53.38%, #F2F3F7 60%, #EEEFF3 67.71%, #E7E8ED 81.97%, #E3E4EA 92.54%, #DEDFE5 100%);
	.wrapper{
		@include styleGrid1;
		position: relative;
		z-index: 1;
		display: flex;
		flex-flow: row wrap;
		justify-content: space-between;
		align-items: center;
	}
	.shape{
		position: absolute;
		left: 0px;
		top: 0px;
		width: 70%;
		z-index: 1;
	}
	.container-text{
		width: 490px;
		h2{
			font-size: 13px;
			line-height: 18px;
			font-family: $font_1;
			margin-bottom: 12px;
		}
		h1{
			@include styleH2;
			margin-bottom: 30px;
		}
		p{	
			@include styleParagraphMedium;
			margin-bottom: 45px;
		}
		.btn{
			@include styleButtonBig;
		}
	}
	.container-illu{
		position: relative; 
		height: 326px;	
		width: 541px;
		border-radius: 4px;
		overflow: hidden;
		box-shadow: 0 29px 40px 0 rgba(56,70,122,0.15);
		video,
		iframe{
			height: 100%;	
			width: 100%;
			border-radius: 4px;
			
		}
	}
}

#section-features{
	padding: 110px 0px 70px 0px;
	.wrapper{
		@include styleGrid2;
	}
	.container-el{
		display: flex;
		flex-flow: row wrap;
		align-items: flex-start;
		.el{
			margin-bottom: 76px;
			@media screen and (min-width: $breakPoint_mobile){
				width: 45%;
				&:nth-child(1n){
					margin-right: 10%;
				}
				&:nth-child(2n){
					margin-right: 0%;
				}
			}
			@media screen and (max-width: $breakPoint_mobile){
				width:100%;
			}
		}
		.icn{
			height: 60px;
		}
		h3{
			@include styleH5;
			margin-top: 25px;
		}
		p{
			@include styleParagraphSmall;
			margin-top: 32px;
		}
	}
}

#section-bnd{
	padding: 50px 0px 50px 0px;
	position: relative;
	.background{
		position: absolute;
		left: 0px;
		top: 0px;
		width: calc((#{$grid_desktop_1} + ((100vw - #{$grid_desktop_1}))/2));
		height: 100%;
		background-color: $colorMain_1;
	}
	.wrapper{
		position: relative;
		z-index: 1;
		@include styleGrid2;
		display: flex;
		flex-flow: row wrap;
		justify-content: space-between;
		align-items: center;
	}
	.container-text{
		width: 400px;
		h2{
			@include styleH4;
			color: #FFF;
		}
		p{
			margin-top: 11px;
			@include styleParagraphSmall;
			color: rgba(255, 255, 255, 0.8);
		}
	}
	.container-el{
		display: flex;
		flex-flow: row wrap;
		align-items: flex-start;
		justify-content: space-between;
		width: 456px;
		.el{
			width: 220px;
			height: 190px;
			position: relative;
			text-align: center;
			margin-bottom: 20px;
			
			&:before{
				content:'';
				position: absolute;
				left: 0px;
				top: 0px;
				width: 100%;
				height: 100%;
				background-color: rgba(0, 0, 0, 0.1);
				border-radius: 3px;
				transition: all 0.5s cubic-bezier(0.035, 1.080, 0.660, 0.955);
			}
			&:hover{
				&:before{
					transform: scale(1.1);
					background-color: rgba(255, 255, 255, 1);
				}
				.icn{
					filter: none;
					transform: translateY(-25px);
				}
				h3{
					transition-delay: 0.05s;
					transform: translateY(-25px);
					color: $colorMain_1;
				}
				.btn{
					transition-delay: 0.1s;
					opacity: 1;
					transform: translateX(-50%) translateY(-25px);
				}
			}
		}
		.content{
			position: absolute;
			z-index: 1;
			top: 50%;
			left: 0px;
			width: 100%;
			transform: translateY(-50%);
		}
		.icn{
			height: 30px;
			filter: brightness(100);
			transition: all 0.5s cubic-bezier(0.035, 1.080, 0.660, 0.955);
		}
		h3{
			@include styleH5;
			color: #FFF;
			margin-top: 10px;
			transition: all 0.5s cubic-bezier(0.035, 1.080, 0.660, 0.955);
			transition-delay: 0s;
		}
		.btn{
			opacity: 0;
			position: absolute;
			top: calc(100% + 15px);
			left: 50%;
			transform: translateX(-50%);
			@include styleButtonBig;
			padding: 10px 15px 10px 15px;
			transition: all 0.5s cubic-bezier(0.035, 1.080, 0.660, 0.955);
			transition-delay: 0s;
			.btn-arrow{
				margin-left: 10px;
			}
		}
	}
}

#section-features.style-col .container-el{
	justify-content: space-between;
	.col-el{
		@media screen and (min-width: $breakPoint_mobile){
			width: 45%;
		}
		@media screen and (max-width: $breakPoint_mobile){
			width:100%;
		}
		.el{
			@media screen and (min-width: $breakPoint_mobile){
				width: 100%;
				&:nth-child(1n){
					margin-right: 0%;
				}
				&:nth-child(2n){
					margin-right: 0%;
				}
			}
		}
		.title{
			font-family: $font_1;
		}
		ul{
			list-style: none;
			li{
				@include styleParagraphSmall;
				margin-top: 15px;
				position: relative;
				padding-left: 20px;
				&:before{
					content:'';
					position: absolute;
					top: 50%;
					left: 0px;
					height: 5px;
					width: 5px;
					border-radius: 4px;
					background-color: $colorMain_1;
				}
			}
		}
	}
}

/*========================================
=            END PAGE FEATURES           =
========================================*/

@import 'footer.scss';