footer{
	padding-top: 45px;
	padding-bottom: 20px;
	.wrapper{
		@include styleGrid1;
	}
	.logo{
		text-align: center;
		margin-bottom: 70px;
		a{
			text-decoration: none;
			img{
				height: 40px;
			}
		}
	}
	.container-ul{
		display: flex;
		flex-flow: row wrap;
		justify-content: space-between;
		align-items: flex-start;
		ul{
			list-style: none;
			li{
				&:first-child{
					@include styleParagraphMedium;
					opacity: 1;
					margin-bottom: 32px;
					color: $colorMain_1;
					font-family: $font_2;
				}
				&:not(:first-child){
					margin-bottom: 5px;
					a{
						@include styleParagraphSmall;
						text-decoration: none;
						transition: all 0.25s ease;
						font-size: 14px;
						&:hover{
							opacity:0.8;
						}
					}
				}
				.container-contact{
					display: flex;
					flex-flow: row wrap;
					align-items: center;
					.pp{
						height: 42px;
						width: 42px;
						border-radius: 31px;
						background-repeat: no-repeat;
						background-position: center center;
						background-size: cover;
						margin-right: 16px;
					}
					.text{
						p{
							@include styleParagraphSmall;
							font-family: $font_3;
							color: $colorMain_1;
						}
						a{
							color: $colorMain_2;	
							font-family: $font_1;	
							font-size: 13px;		
							line-height: 25px;
							opacity: 0.8;
							text-decoration: underline;
							transition: all 0.25s ease;
							&:hover{
								opacity: 0.5;
							}
						}
					}
				}
			}
		}
	}
	.foot{
		text-align: center;
		margin-top: 80px;
		position: relative;
		.cpr{
			font-size: 13px;
			line-height: 28px;
			color: $colorMain_3;
			font-family: $font_3;
		}
		.container-rs{
			position: absolute;
			right: 0px;
			top: 50%;
			transform: translateY(-50%);
			display: flex;
			flex-flow: row wrap;
			align-items: center;
			.rs{
				width: 25px;
				text-decoration: none;
				margin-right: 23px;
				transition: all 0.25s ease;
				img{
					width: 100%;
				}
				&:last-child{
					margin-right:0px;
				}
				&:hover{
					opacity: 0.8;
				}
			}
		}
	}
}

@media screen and (max-width: $breakPoint_mobile){
	footer .container-ul ul{
		width: 45%;
		margin-bottom: 30px;
	}
	footer .foot .cpr{
		text-align: center;
	}
	footer .foot .container-rs{
		top: initial;
		transform: translate(0px);
		width: 100%;
		bottom: calc(100% + 40px);
		justify-content: center;

	}
}