/*=============================
=            BANNER           =
=============================*/
#banner{
	position: fixed;
	z-index: 21;
	top: 0px;
	left: 0px;
	background-color: $colorMain_4;
	padding: 13px 0px 13px 0px;
	width: 100%;
	transition: transform 1s cubic-bezier(.23, 1, .32, 1);
	.text{
		display: flex;
		flex-flow: row wrap;
		align-items: center;
		justify-content: center;
		p{
			font-size: 13px;
			color: #FFFFFF;
			font-family: $font_3;
			a{
				color: #FFF;
			}
		}
		img{
			width: 5px;
			margin-left:10px;
		}
	}
	.cross{
		cursor: pointer;
		position: absolute;
		top: 50%;
		right: 20px;
		transform: translateY(-50%);
		height: 7px;
		width: 7px;
		img{
			position: absolute;
			top: 0px;
			left: 0px;
			width: 100%;
		}
	}
	&.hide{
		transform: translateY(-100%);
	}
}
/*=================================
=            END BANNER           =
=================================*/

/*=====================================
=            HEADER DESKTOP           =
=====================================*/
#header-desktop{
	position: fixed;
	top: 0px;
	left: 0px;
	width: 100%;
	z-index: 20;
	height: 100px;
	transition: transform 1s cubic-bezier(.23, 1, .32, 1);

	.wrapper{
		@include styleGrid1;
		padding-top: 30px;
		transition: all 0.25s ease;
		display: flex;
		flex-flow: row wrap;
		align-items: center;
		.logo{
			display: inline-block;
			height: 40px;
			text-decoration: none;
			transition: transform 1s cubic-bezier(.23, 1, .32, 1);
			cursor: pointer;
			img{
				cursor: pointer;
				height: 100%;

				&:last-child {
					display: none;
				}
			}
		}

		.container-titlePage{
			display: block;
			text-decoration: none;
			position: relative;
			margin-left: 55px;
			@include styleH5;
			transition: all 1s cubic-bezier(.23, 1, .32, 1);
			&:before{
				content: '';
				position: absolute;
				top: 50%;
				transform: translateY(-50%);
				left: -27px;
				height: 6px;	
				width: 6px;	
				border-radius: 3px;
				background-color: #B9BCC6;
				transition: all 1s cubic-bezier(.23, 1, .32, 1);
			}
		}
	}
	.container-head{
		padding-left: 42px;
		position: absolute;
		z-index: 1;
		right: 0px;
		top: 0px;
		height: 100%;
		box-shadow: 0 10px 25px 0 rgba(56,70,122,0.15);
		background-color: #FFFFFF;
		display: flex;
		flex-flow: row wrap;
		align-items: center;
		transition: all 1s cubic-bezier(.23, 1, .32, 1);
		.container-link{
			list-style-type: none;
			display: flex;
			flex-flow: row wrap;
			align-items: center;
			margin-right: 80px;
			li{
				position: relative;
				margin-right: 25px;
				&:last-child{
					margin-right:0px;
				}
				.container-text{
					display: flex;
					flex-flow: row wrap;
					align-items: center;
					cursor: pointer;
					position: relative;
					.title{
						text-decoration: none;
						@include styleParagraphSmall;
						font-family: $font_3;
						font-size: 14px;
						color: $colorMain_3;
						transition: all 0.25s ease;
						&:hover{
							color: $colorMain_1;
						}
					}
					.arrow{
						width: 9px;
						margin-left: 8px;
					}
				}
				.dropdown{
					display: none;
					position: absolute;
					top: calc(100% + 60px);
					left: -42px;
					opacity: 0;
					transform: translateY(30px);
					transition: all 250ms cubic-bezier(0.090, 0.840, 0.315, 0.975);

					&.displayBlock{
						display: block;
					}
					.content{
						box-shadow: 0 10px 25px 0 rgba(56,70,122,0.15);
						background-color: #FFFFFF;
						padding: 25px;
					}
					.container-el{
						display: flex;
						flex-flow: row wrap;
						.el{
							text-decoration: none;
							padding: 28px 25px 28px 25px;
							display: flex;
							flex-flow: row wrap;
							justify-content: space-between;
							align-items: flex-start;
							transition: all 0.25s ease;
							.icn{
								max-width: 17px;
								margin-right: 12px;
							}
							.text{
								flex: 1;
								h3{
									@include styleH6;
									margin-bottom: 8px;
								}
								p{
									@include styleParagraphSmall;
									font-size: 14px;
								}
							}
							&:hover{
								background-color: #F7F9FC;
							}
						}
					}
				}
				&.li-dropdown-1 .dropdown{ 
					width: 850px;
					.container-el .el{
						width: 50%;
					}
				}
				&.li-dropdown-2 .dropdown{ 
					width: 513px;
					.container-el .el{
						width: 100%;
					}
				}
				&.li-dropdown-3 .dropdown{ 
					left: -300px;
					width: 850px;
					.container-el .el{
						width: 50%;
					}
				}
				&.li-dropdown-4 .dropdown{ 
					width: 513px;
					.container-el .el{
						width: 100%;
					}
				}
				&.li-dropdown-5 .dropdown{ 
					width: 513px;
					.container-el .el{
						width: 100%;
					}
				}
				&.li-dropdown-6 .dropdown{ 
					left: -595px;
					width: 850px;
					.container-el .el{
						width: 50%;
					}
				}
				&.li-dropdown .container-text:before{
					content:'';
					position: absolute;
					z-index: 1;
					left: 50%;
					top: calc(100% + 60px);
					width: 0;
					height: 0;
					opacity: 0;
					transform: translateX(-50%) translateY(0%);
					border-style: solid;
					border-width: 0 10px 14px 10px;
					border-color: transparent transparent #fff transparent;
					transition: all 0.15s ease;
				} 
				&.show{
					.dropdown{
						transition: all 500ms cubic-bezier(0.090, 0.840, 0.315, 0.975);
						opacity: 1;
						transform: translateY(0px);
					}
					.container-text:before{
						transition: all 0.5s ease;
						opacity: 1;
						transform: translateX(-50%) translateY(-100%);
					}
				}
			}

		}
		.container-action{
			height: 100%;
			display: flex;
			flex-flow: row wrap;
			align-items: center;
			a{
				padding:0px 35px 0px 35px;
				font-family: $font_1;
				font-size: 13px;
				opacity: 1;
				color: $colorMain_1;
				text-decoration:none;
				cursor: pointer;
			}
			.signup{
				position: relative;
				height: 100%;
				line-height: 100px;
				&:before{
					content:'';
					position: absolute;
					left: 0px;
					top: 0px;
					height: 100%;
					width: 100%;
					background-color: $colorMain_2;
					transition: all 0.25s ease;
				}
				span{
					position: relative;
					color: #FFF;
				}
				&:hover:before{
					background-color: #EB6767;
				}
			}
		}
	}
	&.style-white {
		.logo img {
			&:first-child {
				display: none;
			}
			&:last-child {
				display: block;
			}
		}
		.container-titlePage{
			color: #FFF;
		}
	}
	&.scroll{
		transform: translateY(-40px);
		box-shadow: 0 10px 25px 0 rgba(56,70,122,0.15);
		background-color: #FFFFFF;
		transition: all 1s cubic-bezier(.23, 1, .32, 1);
		.wrapper{
			transform: translateY(20px);
			.logo{
				transform: translateX(-10%) scale(0.8);
			
				img {
					&:first-child {
						display: block;
					}
					&:last-child {
						display: none;
					}
				}
			}
		}
		.container-head{
			background-color: transparent;
			box-shadow: 0 10px 25px 0 rgba(56,70,122,0);
			transform: translateY(20px);
			transition: transform 1s cubic-bezier(.23, 1, .32, 1);
		}
		.signup:before{
			transform: translateY(-20px);
		}
		.container-titlePage{
			color: $colorMain_1;
			transform: translateX(-20px);
			&:before{
				transform: translateX(-10px);
				background-color: rgba($colorMain_1 , 0.5);
			}
		}
	}
	
	&.banner-active{
		transform: translateY(40px);
	}
	&.banner-active.scroll{
		transform: translateY(0px);
	}
}
@media screen and (min-width: $breakPoint_mobile) and (max-width: 1410px){

	#header-desktop .container-head .container-link{
		margin-right: 15px;
	}
	#header-desktop .container-head .container-link li{
		margin-right: 20px;
	}
	#header-desktop .container-head .container-link li .container-text .arrow
	{
		margin-left: 8px;
	}
	#header-desktop .wrapper{
		padding-top: 35px;
	}
	#header-desktop .wrapper .logo{
		height: 30px;
	}

	#header-desktop .container-head{
		padding-left: 15px;
	}
	#header-desktop .container-head .container-action a{
		padding: 0px 15px 0px 15px;
	}
	#header-desktop .container-head .container-link li.li-dropdown-1 .dropdown{
		width: 550px;
	}
	#header-desktop .container-head .container-link li.li-dropdown-2 .dropdown{
		width: 400px;
	}
}
/*=========================================
=            END HEADER DESKTOP           =
=========================================*/


/*=====================================
=            HEADER MOBILE           =
=====================================*/
#header-mobile{
	display: none;
	width: 100%;
	position: fixed;
	top: 0px;
	left: 0px;
	z-index: 20;
	transition: transform 1s cubic-bezier(.23, 1, .32, 1);
	.head{
		transition: all 0.25s ease;
		position: relative;
		z-index: 1;
		padding: 30px 0px 30px 0px;
		.wrapper{
			@include styleGrid1;
			display: flex;
			flex-flow: row wrap;
			justify-content: space-between;
			align-items: center;
			.logo{
				height: 26px;
				text-decoration: none;
				display: block;
				img{
					height: 100%;

					&:last-child {
						display: none;
					}
				}

				&.style-white {
					img {
						&:first-child {
							display: none;
						}
						&:last-child {
							display: block;
						}
					}
				}
				&.style-white ~ .container-action {
					.container-text .text {
						color: #fff;
					}
					.container-burger .line {
						background-color: #fff;
					}
				}
			}
			.container-action{
				cursor: pointer;
				display: flex;
				flex-flow: row wrap;
				align-items: center;
				.container-text{
					position: relative;
					width: 100px;
					height: 20px;
					margin-right: 17px;
					.text{
						width: 100%;
						position: absolute;
						text-align: right;
						top: 50%;
						font-size: 15px;
						line-height: 25px;
						color: $colorMain_1;
						font-family: $font_1;
						transform: translateY(-50%);
						&:nth-child(1){
							opacity: 1;
						}
						&:nth-child(2){
							opacity: 0;
						}
					}
				}
				.container-burger{
					position: relative;
					height: 13px;
					width: 21px;
					.line{
						position: absolute;
						width: 100%;
						height: 3px;
						background-color: $colorMain_1;
						transition: all 250ms cubic-bezier(0.000, 1.100, 0.735, 0.920);
						&:nth-child(1){
							top: 0px;
							left: 0px;
						}
						&:nth-child(2){
							bottom: 0px;
							left: 0px;
						}
					}
				}
			}
		}	
	}
	.container-link{
		background-color: #FFF;
		position: absolute;
		top: 100%;
		width: 100%;
		box-shadow: 0 3px 22px 0 rgba(56,70,122,0.15);
		transform: translateY(calc(-100% - 100px));
		transition: all 300ms cubic-bezier(0.000, 0.965, 0.805, 0.995);
		padding: 60px 0px 0px 0px;
		overflow: auto;
		-webkit-overflow-scrolling: touch;
		max-height: calc(100vh - 126px);
		.wrapper{
			@include styleGrid1;
			.list-link{
				position: relative;
				.link{
					cursor: pointer;
					margin-bottom: 35px;
					&:last-child{
						margin-bottom: 0px;
					}
					a{
						display: flex;
						flex-flow: row wrap;
						align-items: center;
						text-decoration: none;
						span{
							@include styleParagraphMedium;
						}
						.arrow{
							width: 9px;
							margin-left: 14px;
							transition: all 0.25s ease;
						}
					}
					.container-el{
						display: none;
						margin-top: 30px;
						.el{
							display: block;
							text-decoration: none;
							display: flex;
							flex-flow: row wrap;
							justify-content: space-between;
							align-items: flex-start;
							transition: all 0.25s ease;
							margin-bottom: 30px;
							&:last-child{
								margin-bottom: 0px;
							}
							.icn{
								max-width: 17px;
								margin-right: 12px;
							}
							.text{
								flex: 1;
								h3{
									@include styleH6;
									margin-bottom: 8px;
								}
								p{
									@include styleParagraphSmall;
									font-size: 14px;
								}
							}
						}
					}
					&.active{
						.arrow{
							transform: rotate(180deg);
						}
						.container-el{
							display: block;
						}
					}
				}
			}
		}
		.container-action{
			position: relative;
			margin-top:70px;
			width: calc(100% + 50px);
			margin-left: -25px;
			height: 65px;
			display: flex;
			flex-flow: row wrap;
			a{
				height: 100%;
				width: 50%;
				text-align: center;
				display: flex;
				align-items: center;
				flex-direction: column;
				justify-content: center;
				text-decoration: none;
				span{
					font-size: 13px;
					line-height: 25px;
					font-family: $font_1;
				}
				&:nth-child(1){
					background-color: #F7F9FC;
					span{
						color: $colorMain_1;
					}
				}
				&:nth-child(2){
					background-color: $colorMain_2;
					span{
						color: #FFF;
					}
				}
			}
		}
	}
	&.open{
		.head{
			background-color: #FFF;
			box-shadow: 0 3px 22px 0 rgba(56,70,122,0) !important;
			.container-text .text{
				&:nth-child(1){
					opacity: 0;
				}
				&:nth-child(2){
					opacity: 1;
				}
			}
		}
		.head .container-burger .line{
			&:nth-child(1){
				transform: translateY(5px) rotate(45deg);
			}
			&:nth-child(2){
				transform: translateY(-5px) rotate(-45deg);
			}
		}
		.container-link{
			transform: translateY(0px);
		}
	}
	&.scroll{
		.head{
			background-color: #FFF;
			box-shadow: 0 3px 22px 0 rgba(56,70,122,0.15);
		}
	}
	&.open, &.scroll {
		.head .wrapper .logo {
			&.style-white {
				img {
					&:first-child {
						display: block;
					}
					&:last-child {
						display: none;
					}
				}
			}
			&.style-white ~ .container-action {
				.container-text .text {
					color: $colorMain_1;
				}
				.container-burger .line {
					background-color: $colorMain_1;
				}
			}
		}
	}
	&.banner-active{
		transform: translateY(40px);
	}
}
/*========================================
=            END HEADER MOBILE           =
=========================================*/


/*===============================
=            LIGHTBOX           =
===============================*/

#lightbox-subscribe{
	display: none;
	position: fixed;
	z-index: 20;
	top: 0px;
	left: 0px;
	width: 100%;
	height: 100vh;
	perspective: 1200px;
	
	.background{
		position: absolute;
		left: 0px;
		top: 0px;
		height: 100%;
		width: 100%;
		background-color: rgba(0,0,0,0.64);
		opacity: 0;
		transition: all 0.25s ease;
	}

	.container-subscribe{
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -40%) rotateX(-10deg) translateZ(10px);
		width: 820px;
		display: flex;
		flex-flow: row wrap;
		.container-form{
			background-color: #fff;
			width: 530px;
			padding: 35px 40px 35px 40px;
			h2{
				@include styleH4;
				margin-bottom:25px;
			}
			form{
				width: 100%;
				.container-input{
					display: flex;
					flex-flow: row wrap;
					align-items: flex-start;
					justify-content: space-between;
					.input{
						width: 48%;
						margin-bottom:30px;
						.title{
							font-size: 11px;
							line-height: 15px;
							font-family: $font_1;
							color: $colorMain_3;
						}
						input{
							height: 48px;
							margin-top: 8px;
							width: 100%;
							border-radius: 4px;
							border: 1px solid rgba(185,188,198,0.37);
							background-color: rgba(56,70,122,0.06);
							transition: all 0.25s ease;
							outline: none;
							padding-left:20px;
							@include styleParagraphBig;
							color: $colorMain_1;
							&:focus{
								border-color:$colorMain_2;
							}
						}
					}
				}
				p{
					font-family: $font_3;
					font-size: 12px;
					line-height: 19px;
					color: $colorMain_3;
				}
				button{
					margin-top: 15px;
					width: 100%;
					border:none;
					@include styleButtonBig;
					justify-content: center;
					position: relative;
					.btn-check{
						position: absolute;
						top: 50%;
						left: 50%;
						width: 10px;
						transform: translate(-50%, 150%);
						transition: all 0.25s ease;
						opacity: 0;
					}
					&.active{
						.btn-text{
							opacity: 0;
						}
						.btn-check{
							transform: translate(-50%, -50%);
							opacity: 1;
						}
					}
				}
			}
		}
		.container-desc{
			position: relative;
			width: 290px;
			background-color: $colorMain_1;
			padding:60px 30px 0px 30px;
			.icn{
				width: 20px;
				img{
					width: 100%;
				}
			}
			p{
				margin-top: 25px;
				@include styleParagraphSmall;
				color: #FFF;
			}
			.close{
				cursor: pointer;
				position: absolute;
				top: 25px;
				right: 25px;
				width: 20px;
				img{
					width: 100%;
				}
			}
		}
	}

	&.displayBlock{
		display: block;
	}
	&.show{
		.background{
			opacity: 1;
		}
		.container-subscribe{
			transition: all 500ms cubic-bezier(0.035, 0.960, 0.270, 0.985);
			transform: translate(-50%, -50%) translateZ(10px);
		}
	}
}
@media screen and (max-width: $breakPoint_mobile){
	
	#lightbox-subscribe {
		position: fixed;
		perspective: initial;
		overflow-y: scroll;
	}
	#lightbox-subscribe .container-subscribe {
		top: 0;
		width: 100%;
		flex-direction: column-reverse;
	}
	#lightbox-subscribe.show .container-subscribe {
		transform: translateX(-50%);
	}
	#lightbox-subscribe .container-subscribe .container-form {
		width: 100%;
	}
	#lightbox-subscribe .container-subscribe .container-form form .container-input {
		flex-direction: column;
	}
	#lightbox-subscribe .container-subscribe .container-form form .container-input .input {
		width: 100%;
	}
	#lightbox-subscribe .container-subscribe .container-desc {
		width: 100%;
		padding: 60px 30px;
	}
	#lightbox-subscribe .container-subscribe .container-form form button {
		margin-top: 30px;
	}

}

/*===================================
=            END LIGHTBOX           =
===================================*/

/*==============================
=            COOKIES           =
==============================*/

#cookies{
	position: fixed;
	z-index: 20;
	bottom: 0px;
	left: 0px;
	padding: 17px 0px 17px 0px;	
	width: 100%;	
	background-color: #F7F9FC;	
	box-shadow: 0 -10px 25px 0 rgba(56,70,122,0.15);
	transition: transform 1s cubic-bezier(.23, 1, .32, 1);
	.wrapper{
		@include styleGrid1;
		display: flex;
		flex-flow: row wrap;
		justify-content: space-between;
		align-items: center;
		.text{
			width: 100%;
			display: flex;
			flex-flow: row wrap;
			align-items: center;
			p{
				@include styleParagraphSmall;
				margin-right: 15px;
			}
			a{
				color: $colorMain_2;	
				font-family: $font_3;	
				font-size: 16px;		
				line-height: 26px;
				opacity: 0.8;
				text-decoration: underline;
			}
		}
		.btn{
			margin-top: 10px;
			width: 100%;
			@include styleButtonSmall;
			justify-content: center;
		}
	}
	&.hide{
		transform: translateY(100%);
	}
}
@media screen and (max-width: $breakPoint_mobile){
	#cookies .wrapper .text{
		justify-content: space-between;
	}
	#cookies .wrapper .text p{
		margin-right: 0px;
		margin-bottom: 20px;
	}
}

/*==================================
=            END COOKIES           =
==================================*/

@media screen and (max-width: 1120px){
	#header-desktop{
		display: none;
	}
	#header-mobile{
		display: block;
	}
}