@import 'common.scss';
@import 'header.scss';

/*================================
=            PAGE HOME           =
================================*/

#section-cover{
	background: linear-gradient(180deg, #EEEFF3 0%, #FFFFFF 10.77%, #FFFFFF 22.15%, #FAFBFE 38.03%, #F6F7FA 53.38%, #F2F3F7 60%, #EEEFF3 67.71%, #E7E8ED 81.97%, #E3E4EA 92.54%, #DEDFE5 100%);
	position: relative;
	padding-top: 200px;
	.shape{
		position: absolute;
		left: 0px;
		top: 0px;
		width: 70%;
		z-index: 1;
	}
	.wrapper{
		@include styleGrid1;
		position: relative;
		z-index: 1;
	}
	.container-cover{
		display: flex;
		flex-flow: row wrap;
		justify-content: space-between;
		align-items: center;
		.container-text{
			width: 570px;
			h1{
				@include styleH1;
			}
			p{
				@include styleParagraphBig;
				margin-top: 20px;
			}
			.btn{
				margin-top: 55px;
				@include styleButtonBig;
			}
		}
		.container-illu{
			flex-grow: 1;
			position: relative;
			height: 100px;
			img{
				position: absolute;
				top: 50%;
				width: 200%;
				max-height: 1000px;
				transform: translateY(-50%) translateX(20%);
				right: calc(0px - ((100vw - #{$grid_desktop_1})/2));
			}
			@media screen and (min-width: 2050px) {
				img{
					transform: translateY(-50%) translateX(0%);
					max-height: initial;
					width: 250%;
				}
				
			}
		}
	}
	.container-logo{
		position: relative;
		padding-top: 65px;
		padding-bottom: 65px;
		margin-top: 80px;
		display: flex;
		flex-flow: row wrap;
		justify-content: space-between;
		align-items: center;
		&:before{
			content:'';
			position: absolute;
			left: 0px;
			top: 0px;
			height: 1px;
			width: 80%;
			background-color: rgba(0, 0, 0, 0.1);
		}
		img{
			max-width: 165px;
			max-height: 45px;
		}
	}
}

#section-ftr{
	position: relative;
	padding: 115px 0px 115px 0px;
	.wrapper{
		@include styleGrid1;
		position: relative;
	}
	.container-text{
		.title{
			margin-bottom: 20px;
			display: flex;
			flex-flow: row wrap;
			align-items: center;
			.icn{
				width: 60px;
			}
			h2{
				width: calc(100% - 60px);
				padding-left: 35px;
				@include styleH4;
			}
		}
		p{
			@include styleParagraphMedium;
		}
	}
	.container-ftr{
		margin-top: 50px;
		display: flex;
		flex-flow: row wrap;
		justify-content: space-between;
		align-items: center;
		.container-el{
			width: 450px;
			.el{
				position: relative;
				padding-top: 28px;
				padding-bottom: 28px;
				transition: all 1000ms cubic-bezier(0.090, 0.840, 0.315, 0.975);
				.head{
					display: flex;
					flex-flow: row wrap;
					align-items: center;
					.icn{
						width: 17px;
						height: 17px;
						position: relative;
						img{
							position: absolute;
							top: 50%;
							left: 50%;
							transform: translate(-50%, -50%);
							transition: all 0.25s ease;
						}
						img:nth-child(1){
							opacity: 0;
						}
						img:nth-child(2){
							opacity: 1;
						}
					}
					h3{
						@include styleH6;
						color: rgba($colorMain_1, 0.6);
						width: calc(100% - 17px);
						padding-left: 17px;
						cursor: pointer;
						transition: all 0.25s ease;
					}
				}
				.text{
					opacity: 0;
					transition: all 0.35s ease;
					position: absolute;
					left: 0px;
					top: 100%;
					padding-left: 34px;
					display: flex;
					flex-flow: row wrap;
					align-items: center;
					justify-content: space-between;
					&:after{
						content:'';
						position: absolute;
						left: 0px;
						top: 0px;
						width: 1px;
						height: 100%;
						transform: scaleY(0);
						transition: all 1s ease;
					}
					p{
						@include styleParagraphSmall;
						width: calc(100% - 80px);
					}
					.btn{
						@include styleButtonTiny;
					}
				}

				&.active{
					.head {
						.icn{
							img:nth-child(1){
								opacity: 1;
							}
							img:nth-child(2){
								opacity: 0;
							}
						}
						h3{
							color: $colorMain_1;
						}
					}
					.text{
						opacity: 1;
						transition: all 0.75s ease;

						&:after{
							transform: scaleY(1);
						}
					}
				}
				&:nth-child(1) .text:after{
					background-color: $colorMain_6;
				}
				&:nth-child(2) .text:after{
					background-color: $colorMain_4;
				}
				&:nth-child(3) .text:after{
					background-color: $colorMain_5;
				}
				&:nth-child(4) .text:after{
					background-color: $colorMain_2;
				}
			}
		}
		.container-video{
			height: 405px;	
			width: 669px;
			position: relative;
			.video{
				display: none;
				position: absolute;
				left: 50%;
				top: 50%;
				transform: translate(-50%, -50%);
				width: 100%;
				height: 100%;
				video,
				iframe{
					border-radius: 4px;
					width: 100%;
					height: 100%;
					box-shadow: 0 9px 25px 0 rgba(56,70,122,0.15);
				}
			}
		}
	}	
}

#section-modules{
	position: relative;
	padding-top: 85px;
	padding-bottom: 85px;
	&:before{
		content:'';
		position: absolute;
		left: 0px;
		top: 0px;
		width: 100%;
		height: 70%;
		background: #F7F9FC;
	}
	.wrapper{
		@include styleGrid1;
		position: relative;
		z-index: 1;
	}
	.container-text{
		position: relative;
		max-width: 640px;
		margin: auto;
		text-align: center;
		.icn{
			display: block;
			width: 60px;
			margin:auto;
		}
		h2{
			@include styleH4;
			margin-top: 15px;
		}
		p{
			@include styleParagraphMedium;
			margin-top: 15px;
		}
	}
	.container-el{
		@include styleGrid3;
		margin-top: 60px;
		position: relative;
		display: flex;
		flex-flow: row wrap;
		justify-content: space-between;
		align-items: flex-start;
		.el{
			border-radius: 6px;
			width: calc(50% - 10px);
			text-align: center;
			padding:55px;
			transition: all 0.25s ease;
			position: relative;
			&:before{
				content:'';
				position: absolute;
				left: 0px;
				top: 0px;
				height: 100%;
				width: 100%;
				background-color: #FFF;
				box-shadow: 0 10px 25px 0 rgba(56,70,122,0.15);
				transition: all 250ms cubic-bezier(0.000, 1.100, 0.735, 0.920);
				opacity: 0;
			}
			.icn{
				position: relative;
				z-index: 1;
				margin: 0px auto 25px auto;
				width: 35px;
				height: 35px;
				img{
					position: absolute;
					top: 50%;
					left: 50%;
					transform: translate(-50%, -50%);
				}
			}
			h3{
				position: relative;
				z-index: 1;
				@include styleH6;
				margin-bottom: 25px;
			}
			p{
				position: relative;
				z-index: 1;
				@include styleParagraphSmall;
			}
			&:hover:before{
				
				opacity: 1;
			}
			.btn{
				margin-top: 32px;
				@include styleButtonTinyOpen;
			}
		}
	}
	.obj{
		position: absolute;
		left: 0px;
		top: 70%;
		width: 100%;
	}
}

#section-resultats{
	margin-top: 95px;
	.wrapper{
		@include styleGrid3;
		position: relative;
		padding-top: 75px;
		padding-bottom: 30px;
	}
	.container-text{
		width: 515px;
		.container-rsm{
			.icn{
				width: 60px;
			}
			h2{
				margin-top: 35px;
				@include styleH4;
			}
			p{
				margin-top: 45px;
				@include styleParagraphMedium;
			}
		}
		.container-el{
			border-top: 1px solid rgba(185,188,198,0.5);
			margin-top: 50px;
			padding-top: 50px;
			display: flex;
			flex-flow: row wrap;
			align-items: flex-start;
			justify-content: space-between;
			.el{
				max-width: 30%;
				.container-num{
					display: flex;
					flex-flow: row wrap;
					.num{
						@include styleH3;
						font-size: 28px;
						line-height: 36px;
						font-family: $font_1;
						margin-right: 10px;
					}
				}
				p{
					margin-top: 10px;
					position: relative;
					padding-top: 22px;
					@include styleParagraphSmall;
					&:before{
						content:'';
						background-color: $colorMain_2;
						width: 20px;
						height: 2px;
						border-radius: 2px;
						position: absolute;
						left: 0px;
						top: 0px;
					}
				}
				&:nth-child(1) .container-num {
					align-items: flex-start;
					.obj{
						@include styleH4;
						font-family: $font_3;
					}
				}
				&:nth-child(2) .container-num {
					align-items: flex-start;
					.obj{
						@include styleH4;
						font-family: $font_3;
					}
				}
				&:nth-child(3) .container-num {
					align-items: flex-end;
					.obj{
						@include styleH5;
						font-family: $font_3;
					}
				}
			}
		}
	}
	.container-illu{
		position: absolute;
		top: 0px;
		right: calc(0px - ((100vw - #{$grid_desktop_3})/2));
		height: 100%;
		width: calc((300px + ((100vw - #{$grid_desktop_3}))/2));
		background-repeat: no-repeat;
		background-position: top center;
		background-size: cover;
		background-color: rgba(0, 0, 0, 0.1);
	}
}

#section-apprentissage{
	margin-top: 170px;
	.wrapper{
		@include styleGrid3;
		position: relative;
		display: flex;
		flex-flow: row wrap;
		align-items: flex-start;
		justify-content: space-between;
	}
	.container-title{
		width: 360px;
		.icn{
			width: 60px;
		}
		h2{
			margin-top: 23px;
			@include styleH4;
		}
		.btn{
			margin-top: 40px;
			@include styleButtonSmall;
		}
	}
	.container-text{
		padding-top: 85px;
		width: 500px;
		p{
			@include styleParagraphMedium;
		}
	}
}

#section-quotes{
	position: relative;
	margin-top: 140px;
	.background{
		position: absolute;
		left: 0px;
		top: 0px;
		width: calc((#{$grid_desktop_1} + ((100vw - #{$grid_desktop_1}))/2));
		height: 100%;
		background-color: $colorMain_1;
	}
	.obj{
		position: absolute;
		z-index: 1;
		left: 0px;
		top: -30px;
		padding-left: calc(((100vw - #{$grid_desktop_1}))/2);
		height: 245px;
		background-color: $colorMain_4;
		display: flex;
		flex-flow: row wrap;
		align-items: flex-end;
		padding-bottom: 50px;
		padding-right: 40px;
		.text{
			position: relative;
			@include styleH4;
			color: #FFF;
			padding-left: 45px;
			&:before{
				content:'';
				position: absolute;
				width: 27px;
				height: 1px;
				background-color: #FFF;
				position: absolute;
				top: 20px;
				left: 0px;
			}
		}
	}
	.wrapper{
		position: relative;
		z-index: 1;
		padding: 90px 0px 0px 0px;
		@include styleGrid1;
		padding-left: 320px;
		min-height: 500px;
		.container-el{
			width: 100%;
			.el{
				display: none;
				width: 580px;
				position: relative;
				.head{
					display: flex;
					flex-flow: row wrap;
					align-items: center;
					margin-bottom: 40px;
					.container-logo{
						position: relative;
						margin-right: 30px;
						img{
							max-width: 140px;
							max-height: 54px;
							filter: brightness(100);
						}
					}
					.cdr{
						position: relative;
						.name{
							@include styleParagraphMedium;
							color: $colorMain_4;
						}
						.job{
							@include styleParagraphSmall;
							color: rgba(255, 255, 255, 0.7);
						}
					}
				}
				
				.container-quote{
					position: relative;
					margin-bottom: 40px;
					q{
						@include styleH5;
						color: #FFF;
						font-family: $font_3;
						a{
							color: #FFF;
						}
					}
					a{
						@include styleH5;
						color: #FFF;
						font-family: $font_3;
					}
				}
				

				/* ANIM */
				.container-logo{
					transition: all 500ms cubic-bezier(0.310, 0.690, 0.510, 1.000);
					transition-delay: 0.3s;
					opacity: 0;
					transform: translateY(30px);
				}
				.container-quote{
					transition: all 500ms cubic-bezier(0.310, 0.690, 0.510, 1.000);
					transition-delay: 0.2s;
					opacity: 0;
					transform: translateY(30px);
				}
				.cdr{
					transition: all 500ms cubic-bezier(0.310, 0.690, 0.510, 1.000);
					transition-delay: 0.1s;
					opacity: 0;
					transform: translateY(30px);
				}
				&.active{
					.container-logo{
						transition: all 500ms cubic-bezier(0.000, 0.865, 0.510, 1.000);
						transition-delay: 0.1s;
						transform: translateY(0px);
						opacity: 1;
					}
					.container-quote{
						transition: all 500ms cubic-bezier(0.000, 0.865, 0.510, 1.000);
						transition-delay: 0.3s;
						transform: translateY(0px);
						opacity: 1;
					}
					.cdr{
						transition: all 500ms cubic-bezier(0.000, 0.865, 0.510, 1.000);
						transition-delay: 0.2s;
						opacity: 1;
						transform: translateY(0px);
					}
				}
			}
		}
		.container-step{
			position: absolute;
			right: 65px;
			top: 90px;
			display: flex;
			flex-flow: row wrap;
			align-items: flex-start;
			.step{
				height: 2px;
				width: 30px;
				background-color: rgba(255, 255, 255, 0.3);
				margin-right: 24px;
				transition: all 0.25s ease;
				&:last-child{
					margin-right:0px;
				}
				&.active{
					background-color: $colorMain_4;
				}
			}
		}
		.container-nav{
			position: absolute;
			right: 0px;
			bottom: 0px;
			box-shadow: 0 13px 26px 0 rgba(0,0,0,0.1);
			&:after{
				content:'';
				position: absolute;
				left: 0px;
				top: 50%;
				transform: translateY(-50%);
				width: 100%;
				height: 1px;
				background-color: #DADCDC;
			}
			.nav{
				cursor: pointer;
				background-color: #FFFFFF;
				width: 50px;
				height: 50px;
				position: relative;
				transition: all 0.25s ease;
				&:hover{
					opacity: 0.8;
				}
				img{
					position: absolute;
					top: 50%;
					left: 50%;
					transform: translate(-50%, -50%);
				}
				&:nth-child(1) img {
					transform: translate(-50%, -50%);
				}
				&:nth-child(2) img {
					transform: translate(-50%, -50%) rotate(180deg);
				}
			}
		}
	}
}

@media screen and (min-width: $breakPoint_mobile) and (max-width: $breakPoint_tablet){
	#section-ftr .container-ftr .container-video{
		height: 212px;
		width: 350px;
	}
	#section-ftr .container-ftr .container-el{
		width: 400px;
	}
	#section-quotes .wrapper{
		padding-left: 320px;
	}
}

@media screen and (max-width: $breakPoint_mobile){
	#section-cover .shape{
		width: 100%;
	}
	#section-cover .container-cover .container-text{
		position: relative;
		z-index: 1;
		width: 100%;
	}
	#section-cover .container-cover .container-illu{
		height: initial;
		margin-top: -120px;
	}
	#section-cover .container-cover .container-illu img{
		position: relative;
		transform: initial;
		top: initial;
		right: initial;
		left: -70%;
		width: 230%;
	}
	#section-cover .container-logo{
		margin-top: -100px;
		padding-top: 35px;
		padding-bottom: 15px;
	}
	#section-cover .container-logo:before{
		width: 100%;
	}
	#section-cover .container-logo img{
		margin-bottom: 30px;
	}


	#section-ftr{
		padding: 70px 0px 70px 0px;
		padding-bottom: 70px;
	}
	#section-ftr .container-ftr{
		width: calc(100% + 50px);
		margin-left: -25px;
	}
	#section-ftr .container-ftr .container-el{
		margin-top:50px;
		order: 2;
		white-space: nowrap;
		overflow: scroll;
		-webkit-overflow-scrolling: touch;
		padding: 0px 25px 0px 25px;
	}
	#section-ftr .container-ftr .container-el .el{
		width: calc(100vw - 100px);
		white-space: initial;
		display: inline-block;
		cursor: pointer;
		margin-right: 25px;
		&:last-child{
			margin-right: 0px;
		}
	}
	#section-ftr .container-ftr .container-el .el .text{
		position: relative;
		top: initial;
		margin-top: 35px;
		opacity: 1;
	}

	#section-ftr .container-ftr .container-video{
		order: 1;
		height: initial;
		@include styleGrid1;
	}
	#section-ftr .container-ftr .container-video .video{
		height: initial;
		position: initial;
		transform: initial;
		top: initial;
	}
	#section-ftr .container-ftr .container-video .video iframe{
		height: 52vw;
		position: initial;
		transform: initial;
		top: initial;
	}


	#section-modules .container-text{
		text-align: left;
	}
	#section-modules .container-text .icn{
		margin-left: initial;
	}
	#section-modules .container-el .el{
		width: 100%;
		padding: 45px;
	}

	
	#section-resultats{
		margin-top: 0px;
	}
	#section-resultats .wrapper{
		padding-top: 0px;
	}
	#section-resultats .container-illu{
		display: none;
	}
	#section-resultats .container-text{
		width: 100%;
	}
	#section-resultats .container-text .container-el .el{
		max-width: initial;
		width: 40%;
	}

	#section-apprentissage{
		margin-top: 70px;
	}

	#section-quotes .obj{
		padding-left: calc(((100vw - (100% - 50px)))/2);
		height: 200px;
	}
	#section-quotes .obj .text br{
		display: none;
	}
	#section-quotes .wrapper{
		padding-top: 200px;
		min-height: 700px;
		padding-bottom: 110px;
	}
	#section-quotes .wrapper .container-el .el{
		width: 100%;
	}
	#section-quotes .wrapper .container-step{
		right: initial;
		top: initial;
		left: 25px;
		bottom: 55px;
	}
}

/*====================================
=            END PAGE HOME           =
=====================================*/

@import 'footer.scss';